# clino
/.idea/

# vscode config
/.vscode/

# cmake build
/build/
/cmake-build-opengl-fpsdemo/

# Prerequisites
*.d

# Compiled Shape files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
